div{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    animation-name: color;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-name: move;
    animation-duration: 2s;
    position: absolute; 
    /* animation-direction: ; */
}

@keyframes color{
   


    
}
@keyframes move{
    0%{
        top:0px;
        left:0px;
    }

    25%{
        top:0px;
        left:200px;
    }
    50%{
        top:200px;
        left:200px;
    }
    75%{
        top:200px;
        left:0px;
    }
    100%{
        top:0px;
        left: 0px;
    }

    0%{
        background-color: aquamarine;
       ;
    }

    50%{
        background-color: aqua;
    }

    100%{
        background-color: cadetblue;
    }
}


