div{
    background-color: red;
    width: 100px;
    height: 100px;
}
h1{
    font-size: 2em;
}
@media all and (max-width:500px){
    div{
      background-color: yellow;  
    }
}

@media (min-width:700px) and (max-width:800px){
    div{
        background-color: green;
        width: 400px;
    }
}
