#div1{
    width: 100px;
    height: 100px;
    background-color: red;
    transition: transform 2s;
   position: absolute;
   left: 200px;
   top: 200px;
}

#div1:hover{
    transform: rotate(90deg) translate(200px) scale(1.7);
}