.main{
    background-color: green;
    width:100px;
    height: 100px;
    transition: transform 2s;
    position:absolute;
    left:200px;
    top:200px;

   
}
 .main:hover{
  
    transform: rotate(90deg) scale(1.7) translateX(100px);
   
   
 }